.contact-bg-image {
  background-image: url("../../Assets/contact_us_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 78vh;
  justify-content: center;
  margin-top: 18px;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 4rem;
}
.contact-us-h3 {
  color: #ff0800;
  font-size: 26px;
  font-weight: 500;
  margin: 0;
}
.contact-bg-image h1 {
  color: #ffffff;
  font-size: 45px;
  font-weight: 500;
  margin: 0;
}
